<!DOCTYPE html>
<html>
  <head>
	<title>MachineTime</title>
	<link rel='stylesheet' href='/public/css/styles.css' />
	<meta name='MachineTime' content='Reserve machine time'>
  </head>
  <body>

	<div id='root'></div>

  </body>
  <script src='/public/dist/bundle.js' type='text/javascript'></script>
</html>
