html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.auth {
  height: 550px;
  width: 300px;
}

.container {
  height: calc(100% - 87px);
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.input {
  display: block !important;
  margin-bottom: 10px !important;
}

.auth-button {
  width: 100%;
  margin-bottom: 10px !important;
}

.alt-auth {
  text-decoration: none;
}

/* MODAL */
.modal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 1.28rem;
}

.modal-header {
  display: block;
  font-size: 1.5rem;
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.modal-content {
  flex-grow: 1;
}

.modal-content > span {
  display: block;
}

/* Calendar */
.rbc-toolbar-label {
  font-size: 40px;
}

/* Profile */
.reservation {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: default;
}

/* Landing */
.landing-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #045590, teal);
  background-image: url("https://images.unsplash.com/photo-1579618215542-2ed5e10b65ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1872&q=80");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: -100;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 400px;
  margin: auto;
  position: absolute;
  background-color: rgba(255,255,255,.7);
  border-radius: 200px;
  top: 22vh;
  right: 0;
  left: 0;
}

#details {
  background: #f8f8ff;
  margin-top: 80vh;
  padding: 80px 0;
  position: relative;
  min-height: 500px;
}

figure {
  margin: 0;
}

.details-title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 3em;
}

#landing-page #details figure.detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 80px;
  font-size: 1.5em;
}	

#landing-page #details figure.detail-item:last-of-type {
  margin-bottom: 0;
}

#landing-page #details figure.detail-item > div {
  width: 50%;
}

#landing-page #details .image-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-frame > img {
  max-width: 90%;
  padding: 0 40px;
}

#landing-page #details figcaption {
  padding: 0 40px;
}

#landing-page #details ul {
  list-style-type: disc;
}

#landing-page #details i {
  font-size: 100px;
  color: #045590;
  margin: 0 20px;
}

