html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.auth {
  height: 550px;
  width: 300px;
}

.container {
  height: calc(100% - 87px);
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.input {
  display: block !important;
  margin-bottom: 10px !important;
}

.auth-button {
  width: 100%;
  margin-bottom: 10px !important;
}

.alt-auth {
  text-decoration: none;
}

/* MODAL */
.modal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 1.28rem;
}

.modal-header {
  display: block;
  font-size: 1.5rem;
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.modal-content {
  flex-grow: 1;
}

.modal-content > span {
  display: block;
}

/* Calendar */
.rbc-toolbar-label {
  font-size: 40px;
}
