html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.form-field {
  display: block;
  margin: 10px 0;
}

.btn-submit {
  padding: 10px;
  background-color: green;
}

.auth {
  display: grid;
  justify-content: center;
  align-content: center;
}

.modal-container {
  height: 400px;
  width: 200px;
}
